@model NFLStats.Client.ViewModels.RushingViewModel
@{
    ViewData["Title"] = "NFL Rushing Yards 2021";
    ViewData["url"] = Url.Action("GetRushingStats", "NFLStats");
}

@*@{Html.RenderPartialAsync("StatsPartials/_StatsNavBar");}*@

<div class="input-group">
    <span class="input-group-text">Search:</span>
    <input id="search" type="text" class="form-control">
    @Html.Hidden("SortBy")
    @Html.Hidden("PageNumber")
    @Html.Hidden("url")
</div>
<div id="TableContainer" class="table-responsive">
    <table class="table table-striped table-bordered ">
            @{Html.RenderPartialAsync("StatsPartials/_RushingHead");}
        <tbody class="table-contents">
            @{Html.RenderPartialAsync("StatsPartials/_RushingTable", Model);}
        </tbody>
    </table>
<div id="tableFooter">
        <button id="nextPage" type="button" class="btn btn-success">
            Next Page
        </button>
    </div>
</div>