@model StatTableViewModel
<div id="TableContainer" class="table-responsive">
    <table class="table table-striped table-bordered ">
        <thead>
            <tr class="statistics-table">
                @Html.Raw(Model.Records.FirstOrDefault().GetHtmlHead())
            </tr>
        </thead>
        <tbody class="table-contents">
                @{await Html.RenderPartialAsync("StatsPartials/_StatsTableData", Model.Records);}
        </tbody>
    </table>
<div id="tableFooter">
    <button id="nextPage" type="button" class="btn btn-success">
            Next Page
        </button>
    </div>
</div>